out
build
/bin/
/classes
/dist
/out
/target
target/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*.iml
*.ipr
*.iws
*.class
*.log
.cache/
.history/
.lib/
.idea
.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
.scala_dependencies
.worksheet
.classpath
.project
.settings
.cache
.DS_Store
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
credentials.sbt


